<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--<title> Responsive Login and Signup Form </title>-->
  <title>LogIn/SignUp - SriSriPort</title>
  <link rel="shortcut icon" href="images/flogo.png" type="image/x-icon">
  <!-- CSS -->
  <link rel="stylesheet" href="css/reglog.css">
  <link rel="stylesheet" href="css/footer.css">
  <!-- Boxicons CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
  <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

</head>

<body>
  
 
     <div class="form-content">
        <header>Signup</header>
        <form action="/register" method="post" enctype="multipart/form-data">
          <div class="field input-field">
            <input type="text" name="fname" placeholder="Enter first name" class="input">
          </div>
          <div class="field input-field">
            <input type="text" name="lname" placeholder="Enter last name" class="input">
          </div>
          <div class="field input-field">
            <input name="email" type="email" placeholder="Enter email" class="input">
          </div>
          <div class="field input-field">
            <input type="text" name="mobile" placeholder="Enter mobile number" class="input">
          </div>

          <div class="field input-field">
            <input name="psw1" type="password" placeholder="Create password" class="password">
            <i class='bx bx-hide eye-icon'></i>
          </div>

          <div class="field input-field">
            <input name="psw2" type="password" placeholder="Confirm password" class="password">
            <i class='bx bx-hide eye-icon'></i>
          </div>
          {{!-- img start --}}
          <div class="wrapper">
            <div class="box">
              <div class="js--image-preview"></div>
              <div class="upload-options">
                <label>
                  <input type="file" class="image-upload" name="avatar" accept="image/*" />
                </label>
              </div>
            </div>
          </div>
          {{!-- img end --}}
          <div class="field button-field">
            <button type="submit">Signup</button>
          </div>
        </form>

        <div class="form-link">
          <span>Already have an account? <a href="#" class="link login-link">Login</a></span>
        </div>
      </div>

      {{!-- <div class="line"></div> --}}

      {{!-- <div class="media-options">
        <a href="#" class="field facebook">
          <i class='bx bxl-facebook facebook-icon'></i>
          <span>Login with Facebook</span>
        </a>
      </div>

      <div class="media-options">
        <a href="#" class="field google">
          <img src="images/google.png" alt="google" class="google-img">
          <span>Login with Google</span>
        </a>
      </div> --}}

    </div>
  </section>
  

  <!-- JavaScript -->
  <script src="js/fileinput.js"></script>
  <script>
    const forms = document.querySelector(".forms"),
      pwShowHide = document.querySelectorAll(".eye-icon"),
      links = document.querySelectorAll(".link");

    pwShowHide.forEach(eyeIcon => {
      eyeIcon.addEventListener("click", () => {
        let pwFields = eyeIcon.parentElement.parentElement.querySelectorAll(".password");

        pwFields.forEach(password => {
          if (password.type === "password") {
            password.type = "text";
            eyeIcon.classList.replace("bx-hide", "bx-show");
            return;
          }
          password.type = "password";
          eyeIcon.classList.replace("bx-show", "bx-hide");
        })

      })
    })

    links.forEach(link => {
      link.addEventListener("click", e => {
        e.preventDefault(); //preventing form submit
        forms.classList.toggle("show-signup");
      })
    })

  </script>

</body>

</html>